/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06/04/2019, 20:31:59
    Author     : mayur
*/

root { 
    display: block;
}

#header {
    background-color: #006064;
    height: 120px;
}

#search {
    position: fixed;
    width: 100%;
    top: 35%;
}

#input {
    margin-top: 40px;
}

#button {
    margin-top: 35px;
    background-color: #00838f;
}

#content {
    background-color: #006064;
    height: 100%;
}

#footer {
    background-color: #E57373;
    height: 30px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}